page-tab2-page {

    .logouticon{
        margin-left: 9px;
    }
    
    .headerImg{
        position: relative;
        left: 35%;
        padding-bottom: 11%;
    }

    .ion-md-power {
        color: blue !important;
    }

    .ion-ios-power {
        color: blue !important;
    }
    
}
